
<%- include("partials/header") %>
<link rel="stylesheet" href="/css/style.css">
    <div class="table-container">
        <div>
            <a href="/add-todo" class="btn">Add Todo</a>
        </div>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
               <% for(let i=0; i<todos.length; i++){ %>
    <tr>
        <td><%= todos[i].title %></td>
        <td><%= todos[i].desc %></td>
        <td><%= amanMoment(todos[i].createdAt).format("MM DO,YYY") %></td>
        <td><%= amanMoment(todos[i].updatedAt).format("MM DO,YYY") %></td>
        <td class="action-links">
         <a class="" href="/update-todo?id=<%= todos[i]._id %>">Edit</a>
           <a class="" href="/delete-todo?id=<%= todos[i]._id %>">Delete</a>
        </td>
    </tr>
<% } %>
            </tbody>
        </table>
    </div>
</body>
</html>